---
title: Home Page
date: 2022-12-31
---
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <style>
      body,
      html {
        height: 100%;
      }
      
      body {
        margin: 0;
        background-color: lightblue;
      }

      main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: sans-serif;
        height: 100%;
        padding: 0;
        margin: 0;
      }

      h1 {
        font-family: monospace;
        font-size: 75px;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>ahmadsadri.me</h1>
      <h2>Welcome to my little corner of the web, content coming soon</h2>
    </main>
  </body>
</html>