---
title: Home Page
date: 2022-12-31
---
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% set greeting = 'hello' %}

    <h1>You, {{ greeting | upper }} world!</h1>

    Welcome to storybrooke
  </body>
</html>